body{
    background-image: url("https://i.postimg.cc/rsWgqbxd/019-Malibu-Beach.png");
}

header{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 4em;
    color: black
}

p{
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 22px;
    color:black;
}